<div class="container">
  <h1>Create New Short URL</h1>
  <% if @url.errors %>
    <p style="color:red"><%= @url.errors[:address] %></p>
  <% end %>
  <br>
  <form id="new_url" action="/urls" method="post">
    <input type="text" name="url[address]" placeholder="Enter Your Url Here"><br><br>
    <input type="submit" value="Create!">
  </form>
</div>